// fonts
$body-font: "Roboto", sans-serif;
$header-font: "Dosis", sans-serif;

//color
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #061d49;
$color-light-grey: #6a7792;
$color-secondary: #0070f7;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;

//background
$bg-white: #ffffff;
$bg-black: #000000;
$bg-primary: #061d49;
$bg-secondary: #0070f7;
$bg-success: #28a745;
$bg-danger: #dc3545;
$bg-warning: #ffc107;
$bg-info: #17a2b8;

// shadow
