nav {
  transition: $tran-05;
  .logo {
    border-bottom: 1px solid $border-color;
    .logo-image {
      img {
        object-fit: cover;
        .filter-blue {
          filter: invert(8%) sepia(60%) saturate(4390%) hue-rotate(225deg)
            brightness(79%) contrast(102%);
        }
      }
    }
    .logo_name {
      color: $color-primary;
      transition: $tran-05;
    }
  }

  .nav-wrap {
    height: calc(100% - 90px);

    .nav-item {
      .nav-link {
        &:hover {
          &:before {
            content: "";
            position: absolute;
            left: -7px;
            height: 5px;
            width: 5px;
            border-radius: 50%;
          }
          .nav-icon {
            font-weight: 600;
            color: $color-primary;
          }
          .nav-text {
            font-weight: 600;
            color: $color-primary;
          }
        }

        .nav-icon {
          min-width: 45px;
          color: $black-light-color;
        }

        .nav-text {
          color: $black-light-color;
          transition: $tran-05;
        }
      }
    }

    .nav-documentation {
      background: #061d49;
      button {
        color: #061d49;
        padding: 9px 47px;
      }
    }
  }
}

@media (max-width: 1000px) {
  nav {
    width: 73px;

    .nav-wrap {
      .logo_name {
        opacity: 0;
        pointer-events: none;
      }

      .nav-item {
        .nav-link {
          .nav-text {
            opacity: 0;
            pointer-events: none;
          }
        }
      }
      .nav-documentation {
        height: 50px;
        padding: 5px !important;

        i {
          padding: 0;
          margin: 0;
          cursor: pointer;
        }

        h6 {
          opacity: 0;
          pointer-events: none;
        }

        p {
          opacity: 0;
          pointer-events: none;
        }

        button {
          opacity: 0;
          pointer-events: none;
        }
      }
    }

    ~ {
      .dashboard {
        left: 73px;
        width: calc(100% - 73px);

        .header-container {
          left: 73px;
          width: calc(100% - 73px);
        }
      }
    }
  }
}
