@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "open sans";
}
#sign-in-page {
  background-color: $bg-primary;
  background-image: url(../../../img/bg-overlay.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in {
  background-color: $bg-white;
  border-radius: 1.25rem;
  padding: 2.8rem;
  box-shadow: 0px 0px 18px rgba(6, 29, 73, 0.05);

  .logo {
    display: flex;
    .logo-image img {
      max-height: 45px;
      max-width: 45px;
    }
    .filter-blue {
      filter: invert(8%) sepia(60%) saturate(4390%) hue-rotate(225deg)
        brightness(79%) contrast(102%);
    }
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: $color-primary;
  }
  h2 {
    color: $color-primary;
    font-size: 1.625rem;
    font-weight: 700;
  }
  h5 {
    color: $color-primary;
    font-size: 1rem;
    padding-bottom: 1.5rem;
    font-weight: 400;
  }
  .form-floating {
    input {
      padding: 0;
      margin: 0;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 1.8rem;
      margin-left: 0;
      outline: none;
    }
    label {
      padding-left: 0;
      pointer-events: none;
      font-size: 1rem;
      font-weight: bold;
      color: $color-primary;
      transition: all 0.3s ease;
    }
    // input:focus ~ label,
    // input:valid ~ label {
    // }
  }
  .remember-container {
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    #radio {
      accent-color: $color-primary;
    }
  }
  button {
    width: 100%;
    color: $color-white;
    height: 2.5rem;
    margin: 1rem 0 1rem;
    border-radius: 5px;
    border: 1px solid $color-primary;
    background-color: $color-primary;
  }
  a {
    color: $color-light-grey;
    font-weight: 400;
    text-decoration: none;
    padding-left: 5px;
  }

  p {
    a {
      color: $color-primary;
      font-weight: 700;
      text-decoration: none;
      padding-left: 5px;
    }
  }
}
