#inbox-page {
  background-color: #f8f9fb;

  .dash-email {
    background: #f8f9fb;
    padding: 100px 36px 0 36px;

    #email-container {
      @media (max-width: 1000px) {
        #box-1 {
          width: 15%;
          height: 100%;
          padding: 24px;

          .compose-button {
            padding: 9px 10px;
          }
        }
      }

      #box-1 {
        .compose-button {
          background-color: $color-primary;
        }

        .email-menu {
          .email-menu-link {
            color: $color-primary;

            &:hover {
              font-weight: 800;
            }
          }
        }
      }

      #box-2 {
        height: calc(100vh - 140px);

        .email-box {
          gap: 20px;
        }
      }
    }
  }
}
